# 2nd Step: looking at the dataframes attributes

##  I wanted to take a look at the datasets attributes (Ex. mean, median, Standard Standard Deviation). To get this information, I will use the pandas library.

In [2]:
#importing the pandas library
import pandas as pd

In [20]:
#This if just for naming purposes and just trying to get more practice with my python.
#Just having fun with my code!
names = ['city_data', 'city_list', 'global_data']


# Create dataframes for all three of the csv file we extracted.
# converting city_data into a pandas dataframe
city_data_df = pd.read_csv('city_data.csv')
# Check if it works
city_data_df.head()

   year     city        country  avg_temp
0  1849  Abidjan  Côte D'Ivoire     25.58
1  1850  Abidjan  Côte D'Ivoire     25.52
2  1851  Abidjan  Côte D'Ivoire     25.67
3  1852  Abidjan  Côte D'Ivoire       NaN
4  1853  Abidjan  Côte D'Ivoire       NaN

In [21]:
#converting city_list into a pandas dataframe
city_list_df = pd.read_csv('city_list.csv')
# Checking if it works
city_list_df.head()

   year  avg_temp
0  1750      8.72
1  1751      7.98
2  1752      5.78
3  1753      8.39
4  1754      8.47

In [22]:
#converting city_list into a pandas dataframe
global_data_df = pd.read_csv('global_data.csv')
# Checking if it works
global_data_df.head()

        city               country
0    Abidjan         Côte D'Ivoire
1  Abu Dhabi  United Arab Emirates
2      Abuja               Nigeria
3      Accra                 Ghana
4      Adana                Turkey

## Now that all three files are loaded as dataframes, Lets look at the attributes of each of the them.

In [23]:
# Show information out each the columns and the shape for city_data
city_data_df.info()
city_data_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70792 entries, 0 to 70791
Data columns (total 4 columns):
year        70792 non-null int64
city        70792 non-null object
country     70792 non-null object
avg_temp    68245 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.2+ MB

(70792, 4)

In [24]:
# Show information out each the columns and the shape for city_list
city_list_df.info()
city_list_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 2 columns):
year        266 non-null int64
avg_temp    266 non-null float64
dtypes: float64(1), int64(1)
memory usage: 4.2 KB

(266, 2)

In [25]:
# Show information out each the columns and the shape for global_data
global_data_df.info()
global_data_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 2 columns):
city       342 non-null object
country    342 non-null object
dtypes: object(2)
memory usage: 5.4+ KB

(342, 2)

## Now a statistical summary of each of the dataframes

In [28]:
print('Statistical Summary of {}'.format(names[0]))
city_data_df.describe()

Statistical Summary of city_data

               year      avg_temp
count  70792.000000  68245.000000
mean    1905.643576     16.138845
std       67.187043      7.603714
min     1743.000000    -14.350000
25%     1858.000000      9.710000
50%     1910.000000     16.080000
75%     1962.000000     23.820000
max     2013.000000     30.730000

In [30]:
print('Statistical Summary of {}'.format(names[1]))
city_list_df.describe()

Statistical Summary of city_list

              year    avg_temp
count   266.000000  266.000000
mean   1882.500000    8.369474
std      76.931788    0.584747
min    1750.000000    5.780000
25%    1816.250000    8.082500
50%    1882.500000    8.375000
75%    1948.750000    8.707500
max    2015.000000    9.830000

In [31]:
print('Statistical Summary of {}'.format(names[2]))
global_data_df.describe()

Statistical Summary of global_data

            city        country
count        342            342
unique       329            135
top     Santiago  United States
freq           3             52

## Now that I have very useful information, Let's analyzing it bit more.